.app-container {
  max-width: 800px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-mode {
  background-color: #zzz;
  color: #fff;
}

button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
::-webkit-scrollbar {
    width: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ffffff; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FF8D3F; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
  }

  /* Tailwind CSS orqali qo'shimcha sinf */
.scrollbar-hidden::-webkit-scrollbar {
    height: 0;
}

.scrollbar-hidden {
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer and Edge */
}
