@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.app-container {
  max-width: 800px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-mode {
  background-color: #000000;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px #ffffff;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

/* Tailwind CSS orqali qo'shimcha sinf */
.scrollbar-hidden::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.scrollbar-hidden {
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer and Edge */
}

@keyframes drop {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(80px);
  }

  100% {
    transform: translateY(0px);
  }
}

.lava-lamp {
  position: relative;
  width: 50px;
  height: 100px;
  background: #000;
  border-radius: 25px;
  overflow: hidden;
}

.bubble {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #e64980, #ff8787);
  border-radius: 50%;
  left: 15px;
  animation: drop 5s ease-in-out infinite;
}

.bubble1 {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #82c91e, #3bc9db);
  border-radius: 50%;
  left: 1px;
  animation: drop 3s ease-in-out infinite;
}

.bubble2 {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #7950f2, #f783ac);
  border-radius: 50%;
  left: 30px;
  animation: drop 4s ease-in-out infinite;
}

.bubble3 {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #4481eb, #04befe);
  border-radius: 50%;
  left: 20px;
  animation: drop 6s ease-in-out infinite;
}



/* header */

